 body{
    background-color:lightgoldenrodyellow;
    }
    p{
        position: relative;
        top: 150;
        left: ;
    }
    h1{
        color:red; 
        text-align:center;
        border: 2px solid rgb(239, 14, 14);
        padding: 20px;
        position: relative;
        top: 160;
    }
    pre{
        font-family:verdana; 
        text-align:center;
        margin: 20px;
        position: relative;
        top: 150;
    }
    img {
       width:"100px";
        height:"100px";
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        position:fixed;
        top: 0;
        left: 900;
        z-index: -1;


    }
    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration:none;
      }
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: none;
      }
      .loginbutton {
        background-color: #d1b421;
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px 32px;
        text-align: center;
        text-decoration: none ;
        display: inline-block;
        font-size: 18px;
        margin: 5px 5px;
        cursor: pointer;
        border-radius: 9px;
        transition-duration: 0.3s;
        position: fixed;
        top: 90px;
        bottom: 0px;
        right: 0px;
        left: 10px;
        width: 140px;
        height: 40px;

      }
      .loginbutton:hover {
        background-color: #e41e08; /* Green */
        color: white;
      }
      .signupbutton {
        background-color: #d1b421;
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px 32px;
        text-align: center;
        text-decoration: none ;
        display: inline-block;
        font-size: 18px;
        margin: 5px 5px;
        cursor: pointer;
        border-radius: 9px;
        transition-duration: 0.3s;
        position: fixed;
          top: 90px;
          bottom: 0px;
          right:10px;
          left: 1760px;
          width: 140px;
          height: 40px;

      }
      .signupbutton:hover {
        background-color: #e41e08; /* Green */
        color: white;
      }
      
